/*Cards
#Background */


body{
    background-image: url(bgimg2.jpg);
    background-size: cover;
}
h1{
    font-family: "Times New Roman", serif;
    color: black;
    margin-top: 20px;
        
}

 ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color:lightblue;
          position: fixed;
          top: 0px;
          margin-left: 0;
          width: 9%;
          z-index: 0;
        }

        li {
          float: down;
        }

        li a {
          display:block;
          color: black;
          text-align: center;
          padding: 12px 12px;
          text-decoration:none;
        }

        li a:hover:not(.active) {
          background-color: whitesmoke;
        }

        .active {
          text-decoration: underline;
          font-family: "Times New Roman";
          color: red
        }

        input[type=text] {
          /*float: right;*/
          padding: 0px;
          margin-right: 10px;
          border: none;
          font-size: 15px;
        }

         input[type=text] {
            border: 1px solid #ccc;  
        }

.searchContainer{
    float: right;
    margin-top: 5px;
    padding: 0px;
}
.card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 20%;
  margin-bottom: 20px;
  background-color: #8e9492;
}

.searchCard{
    float: right;
    margin: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}



.container {
  padding: 2px 2px;
  width:
}
/*.menu1, .menu2, .menu3 {
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 7px 0; 

}
.menu3 {
    margin-bottom: 10px;
}
.change .menu1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu2 {opacity: 0;}

.change .menu3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
*/
button {
    background-color: #a9cdf5;
    width: 50px;
    margin: 5px;
    display:inline-table;
    text-align: center;
    text-decoration: none;
    border-color: #a9cdf5;
    
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}