.sidenav {
  height: 100%; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 5px; 
  transition: 0.5s; 
}


.sidenav a {
  padding: 5px 5px 5px 22px;
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
  display: block;
  transition: 0.1s;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.active {
    background-color: crimson;
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}